<PCBConfig>
 <PortParams>com3:38400,N,8,1,P</PortParams>
 <DefaultPower>3800</DefaultPower>
 <BacklashCompensation>9</BacklashCompensation>
 <XOffset>89</XOffset>
 <EtchMaskEmulsion>Negative</EtchMaskEmulsion>
 <SolderMaskEmulsion>Negative</SolderMaskEmulsion>
 <FileNameEnding>
    <TopCopper>F.Cu</TopCopper>
    <BottomCopper>B.Cu</BottomCopper>
    <TopMask>F.Mask</TopMask>
    <BottomMask>B.Mask</BottomMask>
 </FileNameEnding>
</PCBConfig>
